



a {
   font-size: 20px;
   text-decoration: none;
}

a:hover {
   background-color: rgb(211, 203, 203);
   color: floralwhite;

}

a, a:hover,a:visited, a:focus {
   text-decoration:none;
}

.mycard {
   
   font-size: 14px;
   margin: 0;
   padding: 0;
}

.dislike {
   color:brown;
}

.like {
   color: green;
}
.p {
   margin: 0;
   padding: 0;
}
.p-raiting {
   display: inline-block;
   font-size: 14px;
   padding: 5px;
   width: 150px;

}
.raiting {
   height: 50px;
   width: 800px;
}
.date {
   height: 50px;
   width: 500px;
   float: right;
   #position: relative;
   top: -100px;
   padding: 10px;
}
.card-link {
   font-size: 12px;
}
.filter {
   display: flex;
   justify-content: center;
   max-width: 1024px;
   margin: 0 auto;
}
.button {
   width: 100px;
   padding: 6px 12px;
   margin: 18px;
   font-size: 12px;
   cursor: pointer;
   color:white;
   text-transform: lowercase;
   font-weight: bold;
   border: 0;
   outline: none;
   border-radius: 0;
   position: relative;

}
.button:last-child {
   margin-right: 0;
}

.button:active {
   bottom: -1px;
}

.button_type_all {
   background: orange;
}

.button_type_published {
   background: green;
}
.button_type_delete {
   background: red;
}

.hide {
   display: none;
}